  <div class="mobileNavbar" #navbar>
    <div class="topOpenClose" (click)="openClose()">
      <div class="icone">
        <img [src]="'./assets/navbarIcone/'+showHideImg" alt="show" #imgShow>
      </div>
    </div>
    <div class="homePlacement" #items>
      <app-navbar-card [icone]="'home.svg'" [title]="'Acceuil'" [path]="'/homePage'"></app-navbar-card>
    </div>

    <div class="navbarPosition" #items>
      <app-client-navbar *ngIf="isClient"></app-client-navbar>
      <app-provider-navbar *ngIf="isFournisseur"></app-provider-navbar>
      <app-lock-navbar *ngIf="role=='lock'"></app-lock-navbar>
      <app-admin-navbar *ngIf="isAdmin"></app-admin-navbar>
    </div>

    <div class="homePlacement" #items>
      <app-navbar-card [icone]="'log_out.svg'" [title]="'Déconnexion'" (click)="openPopupDeconnexion()"></app-navbar-card>
    </div>

    <div class="containerBottom" #items>
      <div (click)="goToProfil()" class="logout">
        <app-navbar-card [icone]="'profil.svg'" [title]="'Profil'"></app-navbar-card>
      </div>
    </div>

  </div>

  <div class="popupDeconnexion" *ngIf="isPopup">
    <div class="popupDeconnexionContent">
      <div class="popupDeconnexionTitle">
        <h1>Êtes-vous sûr de vouloir vous déconnecter ?</h1>
      </div>
      <div class="popupDeconnexionButtons">
        <button (click)="logout()" class="popupDeconnexionButtonYes">Oui</button>
        <button (click)="closePopup()" class="popupDeconnexionButtonNo">Non</button>
      </div>
    </div>
  </div>
