<div class="pageContent">
  <div class="pageNamePlacement">
    <app-page-name [pageName]="'Envoyer son relevé'"></app-page-name>
  </div>
  <div class="informationPagePlacement">
    <app-information-page></app-information-page>
  </div>
  <div class="addCompteurPlacement">
    <app-add-meter (data)="newMetter($event)" [category]="category" [provider]="provider" *ngIf="device==='mobile'"></app-add-meter>
    <div class="addCompteur" (click)="showPopUpSendMetterDesktop()" *ngIf="device==='desktop'"><p>Ajouter un compteur</p></div>
  </div>

  <div class="emplacementIndiceList">
    <app-indice-list [attributLegend]="attributLegend" [data]="data" [buttonOption]="buttonOption" (buttonPressed)="buttonPress($event)"></app-indice-list>
  </div>

</div>
<app-adresse-field-send-data (sendData)="sendStatementDesktop($event)" *ngIf="showPopUpSendStatementDesktop"></app-adresse-field-send-data>
<app-send-compteur-data (sendData)="sendStatement($event)" *ngIf="showSendStatement"></app-send-compteur-data>
<app-delete-confirmation (delete)="deleteChoice($event)" *ngIf="showPopUpDelete"></app-delete-confirmation>
<app-modify-metter (data)="modifyMetter($event)" [category]="category" [provider]="provider" *ngIf="showPopUpModifyMetter"></app-modify-metter>
<app-loader-api></app-loader-api>
<app-create-compteur-desktop (sendData)="newMetterDesktop($event)" [category]="category" [provider]="provider" *ngIf="showPopUpNewMetterDesktop"></app-create-compteur-desktop>
