<div class="pageContentRow">
  <div class="pageNamePlacement">
    <app-page-name [pageName]="'Catégorie'"></app-page-name>
  </div>
  <div class="addCategoryForm">
    <form (ngSubmit)="onSubmit()">
      <label class="categoryName" for="categoryName">Nom de la catégorie :</label>
      <input type="text" id="categoryName" [(ngModel)]="categoryName" name="categoryName" required>
      <button type="submit">Ajouter</button>
    </form>
  </div>
  <div class="placementList">
    <app-indice-list [attributLegend]="attributLegend" [data]="categories" [buttonOption]="buttonOption" (buttonPressed)="buttonPress($event)"></app-indice-list>
  </div>
</div>

<div class="popupDelete" *ngIf="closeOrOpenDelete">
  <div class="popupDeleteContent">
    <div class="popupDeleteText">
      <p>Êtes-vous sûr de vouloir supprimer cette catégorie ?</p>
    </div>
    <div class="popupDeleteButton">
      <button class="buttonCancel" (click)="closeDelete()">Annuler</button>
      <button class="buttonDelete" (click)="deleteCategory()">Supprimer</button>
    </div>
  </div>
</div>

