<div class="pageContentRow">
  <div class="pageNamePlacement">
    <app-page-name [pageName]="'Catégorie'"></app-page-name>
  </div>
  <div class="addCategoryForm">
    <form (ngSubmit)="onSubmit()">
      <label class="categoryName" for="categoryName">Nom de la catégorie :</label>
      <input type="text" id="categoryName" [(ngModel)]="categoryName" name="categoryName" required>
      <button type="submit">Ajouter</button>
    </form>
  </div>
  <div class="placementList" *ngIf="categories$ | async as categories">
    <p class="messageSuccess">{{deleteMessageSucces}}</p>
    <p class="messageError">{{deleteMessageError}}</p>
    <table>
      <tr>
        <th>n°</th>
        <th>Nom</th>
        <th></th>
      </tr>
      <tr *ngFor="let category of categories">
        <td>{{category.index}}</td>
        <td>{{category.name}}</td>
        <td class="tdDelete"><img class="deleteBtn" (click)="openDelete(category)" src="../../../assets/navbarIcone/delete-category.svg" alt="">
        </td>
      </tr>
    </table>
    <div class="popupDelete" *ngIf="displayPopup">
      <div class="popupDeleteContent">
        <div class="popupDeleteText">
          <p>Êtes-vous sûr de vouloir supprimer cette catégorie ?</p>
        </div>
        <div class="popupDeleteButton">
          <button class="buttonCancel" (click)="closeDelete()">Annuler</button>
          <button class="buttonDelete" (click)="deleteCategory(selectedCategory.id)">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
  <app-paypal-btn></app-paypal-btn>
</div>
