<div class="factureFrom">
  <div class="formulaire">
    <div class="placement">
      <h1>Rechercher une facture </h1>
    </div>

    <div class="formField" [formGroup]="dataSend">
      <div id="tooltip" class="fieldPlacement">
          <span class="tooltiptext">Si vous voulez rechercher un prix, veuillez ajouter le symbole € après le montant recherché. Par exemple : 123€. Pour tout autre champ de la liste, entrez simplement la valeur à rechercher.</span>
        <input type="text" placeholder="Entrer votre recherche" formControlName="filter">
      </div>
      <div class="fieldPlacement">
        <input type="date"  formControlName="date">
      </div>

      <div class="placement">
        <div class="button" (click)="dataSender(true)">
          <p>Enregistrer</p>
        </div>
      </div>
      <div class="croix" (click)="closePopUpFiltre()">
        <img src="./assets/navbarIcone/hide_picture.svg" alt="croix">
      </div>
    </div>
  </div>
</div>
