.factureListList{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: scroll;
  flex-direction: column;
  overflow-x: hidden;
  margin-top: 10px;

  scrollbar-color: black rgba(128, 128, 128, 0.404);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(128, 128, 128, 0.315);
    border-radius: 10px;
  }
}

.facturePlacement{
  display: flex;
  width: 100%;
  height: 50px;
  position: relative;
}


@media screen and (max-width: 950px) {

  .factureList{
    overflow-x: scroll;
  }

  .facturePlacement{
    width: 800px;
  }

}

