<a routerLink="/profil" class="UserCardNavbar">
  <div class="profilPicture">
    <div class="picture">
      <img [src]="'./assets/navbarIcone/'+profilPicture" alt="profilPicture">
    </div>
  </div>
  <div class="userInformations">
    <div class="informationCard"><h2>{{name}}</h2></div>
    <div class="informationCard"><h3>{{surname}}</h3></div>
  </div>
  <div class="showMore">
    <img src="./assets/navbarIcone/more.svg" alt="more">
  </div>
  <div class="lock" *ngIf="lock==='lock'">
    <img src="./assets/navbarIcone/error.svg" alt="error">
  </div>
</a>
