.containeur-wrappeur{
  display: flex;
  width: 100%;
  margin-bottom: 70px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 80%;
  max-width: 80%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
  border: 2px solid #3a475b;
  background-color: #3a475b;
  color: #e9e9f8;
  position: relative;
}

.loader-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.loader {
  border: 16px solid #f3f3f3; /* Gris clair */
  border-top: 16px solid #3498db; /* Bleu */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.back{
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.form-group label{
  color: #e9e9f8;
}

.form-group input{
  background-color: #e9e9f8;
}

.buttondiv{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

button{
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
  transition: all 0.3s ease;
  margin: 20px;
  width: 100px;
  height: 50px;
}

.button-delete{
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  background-color: #ff0000;
  color: #ffffff;
  transition: all 0.3s ease;
}

.button-delete:hover{
  background-color: #ff0000;
  color: #ffffff;
  transform: scale(1.1);
}

button:hover{
  background-color: #000000;
  color: #ffffff;
  transform: scale(1.1);
}

a{
  text-decoration: none;
  color: #000000;
  margin: 1% 47.9%;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
}

a:hover{
  color: #000000;
  transform: scale(1.1);
}

.containeur-form{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  transition: all 0.3s ease;
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 30%;
  transition: all 0.3s ease;
}

.left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 30%;
  transition: all 0.3s ease;
}

h2 {
  text-align: center;
  color: #000000;
  transition: all 0.3s ease;
}

form {
  margin-top: 20px;
  transition: all 0.3s ease;
}

label {
  display: block;
  margin-top: 10px;
  color: #000000;
  font-size: x-large;
  transition: all 0.3s ease;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
select {
  width: 92%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #e9e9f8;
  border-radius: 3px;
  transition: all 0.3s ease;
  font-size: larger;
  background-color: #e9e9f8;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
select:focus{
  outline: none;
  background-color: #ffffff;
}
input[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

input[type="file"] {
  display: none;
}

.addPdpContaineur{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 170px;
}

.addPdp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: 2px solid #e9e9f8;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #e9e9f8;
  color: #3a475b;
}

.addPdp:hover{
  transform: scale(1.02);
}

.pdpPreview{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: 2px solid #e9e9f8;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #e9e9f8;
  color: #3a475b;
  position: relative;
}

.removeImage {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: rgb(208, 0, 0);
  background-color: #e9e9f8;
  border-radius: 50%;
  padding: 1px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-size: larger;
  font-weight: bold;
}

.removeImage:hover {
  background-color: rgb(208, 0, 0);
  color: #e9e9f8;
}


@media screen and (max-width: 600px) {
  .containeur-form{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right{
    min-width: 90%;
  }
  .left{
    min-width: 90%;
  }
  .buttondiv{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  button{
    margin: 5% 0;
  }
  a{
    margin: 5% 0;
  }
}
