.pageContent {
  width: 81%;
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
}
.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.tableauContainer {
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgb(44, 44, 44);
}
.tableauHeader {
  background-color: rgb(161, 161, 161);
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.tableauContainer {
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgb(44, 44, 44);
}

.tableauHeader {
  background-color: rgb(161, 161, 161);
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

h3,
p {
  padding-left: 2%;
  padding-right: 2%;
  width: 23%; /* Ajustement de la largeur pour s'adapter à des écrans plus petits */
}

p {
  font-size: 20px; /* Ajustement de la taille de police */
}

h3 {
  font-size: 23px; /* Ajustement de la taille de police */
}

.tableauElementContainer {
  width: 100%;
  height: 95%; /* Ajustement de la hauteur pour s'adapter à des écrans plus petits */
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.tableauElement {
  width: 100%;
  height: 8%; /* Ajustement de la hauteur pour s'adapter à des écrans plus petits */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(44, 44, 44);
}

/* Médias queries pour ajuster les styles en fonction de la taille de l'écran */
@media screen and (max-width: 768px) {
  h3,
  p {
    width: 100%; /* Pour occuper toute la largeur sur des écrans plus petits */
  }
}
