.cardList::-webkit-scrollbar {
  width: 10px;
}

.cardList::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 6px;
}

.cardList::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}


.filterPlacement {
  display: flex;
  width: 95%;
  margin-left: 2.5%;
  height: 50px;
  margin-top: 10px;
  justify-content: space-between;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  max-height: calc(100vh - 180px); /* Set the maximum height for scrollability */
  overflow-y: auto; /* Enable vertical scrolling */
  margin-top: 10px;
  width: 97%;
  justify-content: center;
}


.filterPlacementListProvider {
  display: flex;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.searchAndCategory{
  width: 100%;
}

.optionPlacement {
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: space-between;
}

.searchBarPlacement {
  display: flex;
  width: 30%;
  position: relative;
}

.option {
  display: flex;
  width: 45%;
  height: 100%;
  position: relative;
}

.placementList {
  display: flex;
  width: 95%;
  margin-left: 2.5%;
  height: calc(100vh - 410px);
  margin-top: 10px;
  position: relative;
}


.movePagePlacement {
  display: flex;
  width: 100px;
  height: 30px;
  margin-top: 10px;
  margin-left: calc(100% - ( 100px + 2.5% ));
  position: relative;
}

.placementIndice {
  display: flex;
  width: 100%;
  height: 50px;
  position: relative;
}

hr {
  margin-top: 10px;
  width: 99%;
  height: 0px;
  border: 1px solid rgba(0, 0, 0, 0.103);
}

.popupAjoutReussiFournisseur {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.popupAjoutReussiFournisseurContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 10px;
}

.popupAjoutReussiFournisseurContentText {
  margin-bottom: 15px;
  font-size: 18px;
}

.popupAjoutReussiFournisseurContentButton {
  display: flex;
  justify-content: center;
}

.popupAjoutReussiFournisseurContentButton button {
  padding: 10px 20px;
  border: none ;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
}

.popupAjoutReussiFournisseurContentButton button:hover {
  background-color: #45a049;
}

.popupAjoutReussiFournisseurContentText p{
  text-align: center;
  font-size: larger;
}
@media screen and (max-width: 579px) {
  .cardList{
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 547px) {

  .categoryList {
    margin-top: 20px; /* Ajoutez la marge que vous voulez */
  }
  .filterPlacementListProvider{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 950px) {

  .filterPlacement {
    height: 100px;
    flex-wrap: wrap;
  }
  .optionPlacement {
    width: 100%;
    height: 40px;
  }

  .searchBarPlacement {
    width: 60%;
    height: 40px;
    max-width: 400px;
  }

  .listPlacement {
    overflow-x: scroll;

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

  }

  .listContainer {
    margin-bottom: 10px;
    overflow: scroll;
  }


  .listPlacement,.legendPlacement {
    display: flex;
    min-width: 800px;
    position: relative;
  }

  .movePagePlacement{
    position: fixed;
    bottom: 10px;
    left: -10px;
  }

  .addCompteurPlacement{
    display: flex;
    width: 95%;
    margin-left: 2.5%;
    height: 75px;
    position: relative;
    margin-top: 20px;
  }
}
