.emplacementIndiceList{
  display: flex;
  margin-left: 2.5%;
  margin-top: 10px;
  width: 95%;
  position: relative;
  height: calc(100vh - 410px);
}

@media screen and (max-width: 950px) {

  .addCompteurPlacement{
    height: 70px;
  }

}
