<div class="addCompteurPlacement">
  <app-add-meter></app-add-meter>
</div>

<div class="listeIndice">
  <div class="indicePlacement">
    <app-indice [indiceArray]="['Nom compteur', 'Catégorie', 'Fournisseur']" [legend]="true"></app-indice>
  </div>
</div>

<div class="containerList">
  <div class="indicePlacement">
    <app-indice [indiceArray]="['Nom compteur', 'Catégorie', 'Fournisseur']" [legend]="false" [btn1]="'send.svg'" (buttonPressed)="buttonPress($event)"></app-indice>
  </div>
  <hr>
</div>


