.placementList {
  width: 90%;
  position: relative;
  border-radius: 10px;
  background-color: #3a475b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin-left: 5%;
  margin-top: 20px;
}
.pageContent {
  width: 81%;
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
}
.buttondiv {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 5%;
  cursor: pointer;
  width: fit-content;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: white;
}
.buttondiv img{
  filter: invert(50%) sepia(20%) saturate(20%) hue-rotate(0deg)
    brightness(200%) contrast(90%);
}
.buttonRight {
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: right;
  bottom: 0;
  right: 0;
  height: fit-content;
}
.containeur-form {
  margin: 5px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
}
.left {
  justify-content: left;
  width: 50%;
}
.right {
  justify-content: right;
  width: 50%;
  position: relative;
}
.form-group {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-left: 15%;
}
label {
  padding-bottom: 0px;
}
input {
  border-radius: 3px;
  border: 1px solid black;
  padding: 5px;
  font-size: 20px;
}
label {
  color: rgb(232, 232, 232);
}
/* styles.css */
@keyframes fadeInOut {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.fade-in-out {
  animation: fadeInOut 1s ease-in-out;
}

.doubleButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.buttonContainer {
  border-radius: 10px;
  background-color: #ebebeb;
  padding: 3px;
  border: 1px solid #898989;
}
.doubleButton {
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background-color: transparent;
}
.buttonActive {
  border-radius: 10px;
  background-color: #d5d5d5;
}
.wrongPassword {
  background-color: rgb(211, 88, 88);
}
.pdpContaineur {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.editButton {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  border: #000000 2px solid;
  cursor: pointer;
  right: -15px;
  top: -15px;
  background-color: rgb(231, 231, 231);
  display: flex;
}
img {
  filter: invert(50%) sepia(20%) saturate(20%) hue-rotate(0deg)
    brightness(30%) contrast(90%);
  width: 80%;
}
