.placementList {
  width: 90%;
  position: relative;
  border-radius: 10px;
  background-color: #3a475b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin-left: 5%;
  margin-top: 20px;
}
.pageContent {
  width: 81%;
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
}
.buttondiv{
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 5%;
  cursor: pointer;
  width: fit-content;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
color: white;
}
.buttonRight{
  display: flex;
  width: 100%;
  justify-content: right;
  position: absolute;
  bottom: 0;
right: 0;
height: fit-content;
}
.containeur-form{
  margin : 5px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
}
.left{
  justify-content: left;
  width: 50%;
}
.right{
  justify-content: right;
  width: 50%;
  position: relative;
}
.form-group{
width: 70%;
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-left: 15%;
}
label{
  padding-bottom: 0px;
}
input,select{
  border-radius: 3px;
  border: 1px solid black;
  padding: 5px;
  font-size: 20px;
}
img{
  width: 80%;
  filter: invert(50%) sepia(50%) saturate(50%) hue-rotate(86deg) brightness(200%) contrast(119%);
}
label{
  color: rgb(232, 232, 232);
}
#editButton{
  position: relative;
  filter: invert(25%) sepia(10%) saturate(100%) hue-rotate(0deg) brightness(90%) contrast(85%);
  position: absolute;
}
.pdp{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: rgb(214, 214, 214);
  justify-content: center;
  align-items: center;
  border: #000000 2px solid;
  position: relative;
  display: flex;
}
.pdpContaineur{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.editButton{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  border: #000000 2px solid;
  cursor: pointer;
  right: 0;
  bottom: 0;
  background-color: #3a475b;
  display: flex;
}
/* styles.css */
@keyframes fadeInOut {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.fade-in-out {
  animation: fadeInOut 1s ease-in-out;
}
