<div class="pageContent">
  <div class="pageNamePlacement">
    <app-page-name [pageName]="editPageName"></app-page-name>
  </div>
<div class="pdpContaineur">
  <app-gestion-pdp-profil *ngIf="idUser" [idUser]="this.idUser"></app-gestion-pdp-profil></div>

  <div class="doubleButtonContainer">
    <div class="buttonContainer">
      <button
        [disabled]="formChoiceButton"
        (click)="buttonChoiceSwap()"
        class="doubleButton"
        [ngClass]="{ buttonActive: formChoiceButton }"
      >
        Profil
      </button>
      <button
        [disabled]="!formChoiceButton"
        (click)="buttonChoiceSwap()"
        class="doubleButton"
        [ngClass]="{ buttonActive: !formChoiceButton }"
      >
        Adresse
      </button>
    </div>
  </div>

  <form [formGroup]="registerForm" *ngIf="formChoiceButton">
    <div class="placementList" *ngIf="user$ | async as user">
      <div class="containeur-form">
        <div class="left">
          <div class="form-group">
            <label for="username">Nom : </label>
            <input
              type="text"
              id="username"
              formControlName="username"
              [readonly]="!editMode"
            />
            <p *ngIf="this.registerForm.controls['username'].status == 'INVALID'">Le nom utilisateur est incorrecte</p>
          </div>
          <div class="form-group">
            <label for="lastname">Nom de famille: </label>
            <input
              type="text"
              id="lastName"
              formControlName="lastname"
              [readonly]="!editMode"
            />
            <p *ngIf="this.registerForm.controls['lastname'].status == 'INVALID'">Le nom de famille est incorrecte</p>
          </div>
          <div class="form-group">
            <label for="firstName">Prénom : </label>
            <input
              type="text"
              id="firstName"
              formControlName="firstname"
              [readonly]="!editMode"
            />
            <p *ngIf="this.registerForm.controls['firstname'].status == 'INVALID'">Le prénom est incorrecte</p>
          </div>
          <div class="form-group" *ngIf="editMode">
            <label for="password">Mot de passe : </label>
            <input
              type="password"
              id="password"
              formControlName="password"
              [readonly]="!editMode"
              [(ngModel)]="password"
              [ngClass]="{wrongPassword: password != passwordConf}"

            />
            <p *ngIf="this.registerForm.controls['password'].status == 'INVALID'">Le mot de passe est incorrecte</p>
          </div>
          <div class="form-group" *ngIf="!editMode && !isClient">
            <label for="category">Catégorie : </label>
            <input
              type="category"
              id="category"
              formControlName="category"
              readonly
            />
          </div>
        </div>
        <div class="right">
          <div class="form-group">
            <label for="email">Adresse email: </label>
            <input
              type="text"
              id="email"
              formControlName="email"
              [readonly]="!editMode"
            />
            <p *ngIf="this.registerForm.controls['email'].status == 'INVALID'">L'adresse email est incorrecte</p>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Numéro de téléphone : </label>
            <input
              type="text"
              id="phoneNumber"
              formControlName="phoneNumber"
              [readonly]="!editMode"
            />
            <p *ngIf="this.registerForm.controls['phoneNumber'].status == 'INVALID'">Le numéro de téléphone est incorrecte</p>
          </div>
          <div class="form-group" *ngIf="!isClient">
            <label for="tva">TVA : </label>
            <input
              type="text"
              id="tva"
              formControlName="tva"
              [readonly]="!editMode"
            />
            <p *ngIf="this.registerForm.controls['tva'].status == 'INVALID'">Le numéro de TVA est incorrecte</p>
          </div>
          <div class="form-group" *ngIf="editMode">
            <label for="passwordConf">Confirmation de mot de passe : </label>
            <input
              type="passwordConf"
              id="passwordConf"
              formControlName="passwordConf"
              [readonly]="!editMode"
              [(ngModel)]="passwordConf"
              [ngClass]="{wrongPassword: password != passwordConf}"
            />
          </div>
          <div class=" form-group buttonRight" *ngIf="editMode">
            <div class="buttondiv fade-in-out" #boutton>
              <img
                (click)="editUserPopup()"
                src="./assets/navbarIcone/send.svg"
                alt=""
                class="imgSvg"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="editButton">
        <img
          (click)="turnEditMode()"
          src="./assets/navbarIcone/edit.svg"
          alt=""
        />
      </div>
    </div>
  </form>
  <form [formGroup]="adresseForm" *ngIf="!formChoiceButton">
    <div class="placementList">
      <div class="containeur-form">
        <div class="left">
          <div class="form-group">
            <label for="rue">Rue : </label>
            <input
              type="text"
              id="rue"
              formControlName="rue"
              [readonly]="!editMode"
              placeholder="Rue de la paix"
            />
            <p *ngIf="this.adresseForm.controls['rue'].status == 'INVALID'">Le nom de la rue est incorrecte</p>
          </div>
          <div class="form-group">
            <label for="numero">Numéro : </label>
            <input
              type="text"
              id="numero"
              formControlName="numero"
              [readonly]="!editMode"
              placeholder="1"
            />
            <p *ngIf="this.adresseForm.controls['numero'].status == 'INVALID'">Le numéro de la rue est incorrecte</p>
          </div>
          <div class="form-group">
            <label for="ville">Ville : </label>
            <input
              type="text"
              id="ville"
              formControlName="ville"
              [readonly]="!editMode"
              placeholder="Bruxelles"
            />
            <p *ngIf="this.adresseForm.controls['ville'].status == 'INVALID'">Le nom de la ville est incorrecte</p>
          </div>
        </div>
        <div class="right">
          <div class="form-group">
            <label for="codePostal">Code Postal : </label>
            <input
              type="text"
              id="codePostal"
              formControlName="codePostal"
              [readonly]="!editMode"
              placeholder="1000"
            />
            <p *ngIf="this.adresseForm.controls['codePostal'].status == 'INVALID'">Le code postal est incorrecte</p>
          </div>
          <div class="form-group">
            <label for="pays">Pays : </label>
            <input
              type="text"
              id="pays"
              formControlName="pays"
              [readonly]="!editMode"
              placeholder="Belgique"
            />
            <p *ngIf="this.adresseForm.controls['pays'].status == 'INVALID'">Le nom du pays est incorrecte</p>
          </div>
          <div class="buttonRight">
            <div class="buttondiv fade-in-out" *ngIf="editMode">
              <img
                (click)="editAdressePopup()"
                src="./assets/navbarIcone/send.svg"
                alt=""
                class="imgSvg"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="editButton">
        <img
          (click)="turnEditMode()"
          src="./assets/navbarIcone/edit.svg"
          alt=""
        />
      </div>
    </div>
  </form>
  <!-- Popup de confirmation de changement d'information d'adresse ou des données utilisateur -->
  <app-edit-popup
    *ngIf="editPopup"
    [editedFields]="donneesModifiees"
    (acceptChanges)="editingUser ? editUser($event) : editAdresse($event)"
  ></app-edit-popup>

  <!-- loader -->
  <app-simple-loader [isLoading]="isLoading"></app-simple-loader>

</div>
