<div class="navbar">
  <div class="containerMain">
    <div class="logoCard">
      <h1>Compteur'App</h1>
    </div>
    <div class="homeCard">
      <app-navbar-card [icone]="'home.svg'" [title]="'Home'" [path]="'/homePage'"></app-navbar-card>
    </div>

    <app-client-navbar *ngIf="isClient && !navBarIsLocked"></app-client-navbar>
    <app-provider-navbar *ngIf="isFournisseur"></app-provider-navbar>
    <app-lock-navbar *ngIf="navBarIsLocked"></app-lock-navbar>
    <app-admin-navbar *ngIf="isAdmin"></app-admin-navbar>

    <div (click)="openPopupDeconnexion()" class="logout">
      <app-navbar-card [icone]="'log_out.svg'" [title]="'Logout'"></app-navbar-card>
    </div>
  </div>
  <div class="containerBottom">
    <app-profil-card-navbar [profilPicture]="'profilPicture.png'" [name]="'Total Energie'"
      [surname]="'Robert Johns'"></app-profil-card-navbar>
  </div>
</div>

<div class="popupDeconnexion" *ngIf="isPopup">
  <div class="popupDeconnexionContent">
    <div class="popupDeconnexionTitle">
      <h1>Êtes-vous sûr de vouloir vous déconnecter ?</h1>
    </div>
    <div class="popupDeconnexionButtons">
      <button (click)="logout()" class="popupDeconnexionButtonYes">Oui</button>
      <button (click)="closePopup()" class="popupDeconnexionButtonNo">Non</button>
    </div>
  </div>
</div>
