  <div class="pdp" [ngClass]="{editBackground: editHover, deleteBackground: deleteHover}">
    <img
      *ngIf="!editPdp"
      [src]="
        photoNull
          ? './assets/images/photo-profil/photo-profil/pdpDefaut.jpg'
          : 'http://localhost:8080/pdp/' + photoUrl
      "
      alt="Photo"
    />
    <div>
      <div *ngIf="editPdp">
        <div *ngIf="!photoNull">
          <button class="editPdpButton" (click)="onFileSelect($event)" (mouseenter)="editHover = true" (mouseleave)="editHover = false">
            <img src="./assets/navbarIcone/edit.svg" alt="">
          </button>
          <input
            type="file"
            #fileInput
            style="display: none"
            (change)="onFileChange($event)"
          />
        </div>
        <div *ngIf="photoNull">
          <button class="addButton" (click)="onFileSelect($event)">
            <img src="./assets/navbarIcone/add.svg" alt="" />
          </button>
          <input
            type="file"
            #fileInput
            style="display: none"
            (change)="onFileChangeAdd($event)"
          />
        </div>

        <div *ngIf="!photoNull">
          <button
            class="deleteButton"
            (click)="deletePhotoProfil()"
            *ngIf="!photoNull"
            (mouseenter)="deleteHover = true" (mouseleave)="deleteHover = false"
          >
            <img src="./assets/navbarIcone/delete.svg" alt="">
          </button>
        </div>
      </div>
    </div>

    <div class="editButtonPdp">
      <img
        (click)="editPdpButton()"
        src="./assets/navbarIcone/edit.svg"
        alt=""
        class="imgSvg"
      />
    </div>
  </div>
<app-simple-loader [isLoading]="isLoading"></app-simple-loader>
