<div class="pageContentRow">
  <div class="pageNamePlacement">
    <app-page-name
      [pageName]="'Information sur ' + providerUserName + ' [' + nameCategory + ']'"
    ></app-page-name>
  </div>
  <div class="containeur-wrappeur">
    <div class="container">
      <div class="back" (click)="goBack()">
        <img src="../../../assets/navbarIcone/arrow-back.svg" alt="">
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="openModify()">
        <div class="containeurPhoto">
          <div class="photoProfil">
            <div class="imageContainer">
              <div class="card" *ngIf="!photoNull">
                <div class="face face1">
                  <img [src]="photoNull ? '' : 'https://localhost:8443/pdp/'+photoUrl" alt="Photo">

                </div>
                <div class="face face2">
                  <button (click)="onFileSelect($event)">Modifier</button>
                  <input type="file" #fileInput style="display: none" (change)="onFileChange($event)">
                  <button (click)="deletePhotoProfil()">Supprimer</button>
                </div>
              </div>
              <div class="cardPhotoNull" *ngIf="photoNull">
                <div class="faceNul">
                  <button (click)="onFileSelect($event)">Ajouter</button>
                  <input type="file" #fileInput style="display: none" (change)="onFileChangeAdd($event)">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="containeur-form">
          <div class="left">
            <div class="form-group">
              <label for="email">Adresse e-mail :</label>
              <div class="tooltip-container">
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                />
                <div class="tooltip-content">
                  Entrez votre adresse e-mail. <br>
                  Par exemple : fournisseur@mail.com
                </div>
              </div>
              <div class="error-message" *ngIf="submitted && registerForm.get('email')?.hasError('required')">
                Est requise.
              </div>
              <div class="error-message" *ngIf="submitted && registerForm.get('email')?.hasError('email')">
                Adresse e-mail non valide.
              </div>
            </div>

            <div class="form-group">
              <label for="phoneNumber">Numéro de téléphone :</label>
              <div class="tooltip-container">
                <input
                  type="text"
                  id="phoneNumber"
                  formControlName="phoneNumber"
                />
                <div class="tooltip-content">
                  Entrez votre numéro de téléphone. <br>
                  Par exemple : 0470000000
                </div>
              </div>
              <div class="error-message" *ngIf="submitted && registerForm.get('phoneNumber')?.hasError('required')">
                Est requis.
              </div>
              <div class="error-message" *ngIf="submitted && registerForm.get('phoneNumber')?.hasError('pattern')">
                Numéro de téléphone non valide.
              </div>
            </div>

            <div class="form-group">
              <label for="TVA">Numéro de TVA :</label>
              <div class="tooltip-container">
                <input
                  type="text"
                  id="TVA"
                  formControlName="TVA"
                />
                <div class="tooltip-content">
                  Entrez votre numéro de TVA. <br>
                  Il doit être composé de 10 chiffres <br>
                  et doit commencer par BE0.
                </div>
              </div>
              <div class="error-message" *ngIf="submitted && registerForm.get('TVA')?.hasError('required')">
                Est requis.
              </div>
              <div class="error-message" *ngIf="submitted && registerForm.get('TVA')?.hasError('pattern')">
                N° TVA belge non valide.
              </div>
            </div>
          </div>

          <div class="right">
            <div class="form-group">
              <label for="username">Nom du fournisseur :</label>
              <div class="tooltip-container">
                <input type="text" id="username" formControlName="username" />
                <div class="tooltip-content">
                  Entrez le nom du fournisseur. <br>
                  Il doit comporter au moins 6 caractères.
                </div>
              </div>
              <div class="error-message" *ngIf="submitted && registerForm.get('username')?.hasError('required')">
                Est requis.
              </div>
              <div class="error-message" *ngIf="submitted && registerForm.get('username')?.hasError('minlength')">
                Doit contenir au moins 6 caractères.
              </div>
            </div>

            <div *ngIf="!showDiv" class="form-group">
              <label for="password">Mot de passe :</label>
              <button class="hiddenPasswordBtn" (click)="showDiv = !showDiv">Modifier mot de passe</button>
            </div>

            <div *ngIf="showDiv" class="form-group">
              <label for="password">Mot de passe :</label>
              <div class="tooltip-container">
                <input
                  type="password"
                  id="password"
                  formControlName="password"
                />
                <div class="tooltip-content">
                  Entrez votre mot de passe. <br>
                  Il doit contenir :
                  <ul>
                    <li>Au moins 8 caractères</li>
                    <li>Une lettre majuscule</li>
                    <li>Une lettre minuscule</li>
                    <li>Un chiffre</li>
                    <li>Un caractère spécial</li>
                  </ul>
                </div>
              </div>
              <div class="error-message" *ngIf="submitted && registerForm.get('password')?.hasError('required')">
                Est requis.
              </div>
              <div class="error-message" *ngIf="submitted && registerForm.get('password')?.hasError('pattern')">
                Un chiffre, une lettre majuscule, une lettre minuscule et un caractère spécial requis.
              </div>
            </div>

            <div *ngIf="showDiv" class="form-group">
              <label for="password">Vérification du mot de passe :</label>
              <div class="tooltip-container">
                <input
                  type="password"
                  id="passwordVerif"
                  formControlName="passwordVerif"
                />
                <div class="tooltip-content">
                  Entrez votre mot de passe. <br>
                  Il doit contenir :
                  <ul>
                    <li>Au moins 8 caractères</li>
                    <li>Une lettre majuscule</li>
                    <li>Une lettre minuscule</li>
                    <li>Un chiffre</li>
                    <li>Un caractère spécial</li>
                  </ul>
                </div>
              </div>
              <div class="error-message" *ngIf="submitted && registerForm.get('passwordVerif')?.hasError('required')">
                Est requis.
              </div>
              <div class="error-message" *ngIf="submitted && registerForm.get('passwordVerif')?.hasError('pattern')">
                Un chiffre, une lettre majuscule, une lettre minuscule et un caractère spécial requis.
              </div>
              <div class="error-message" *ngIf="submitted && registerForm.get('passwordVerif')?.errors?.['mustMatch']">
                Les mots de passe ne correspondent pas.
              </div>
            </div>
          </div>
        </div>

        <div class="buttondiv">
          <button class="modifyVtn" type="submit">Modifier</button>
          <button type="delete" (click)="delete()" class="button-delete">
            Supprimer
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="popupDelete" *ngIf="closeOrOpenDelete">
  <div class="popupDeleteContent" *ngIf="!isLoading">
    <div class="popupDeleteText">
      <h1>Êtes-vous sûr de vouloir supprimer ce fournisseur ?</h1>
    </div>
    <div class="popupDeleteButton">
      <button class="buttonCancel" (click)="closeDelete()">Annuler</button>
      <button class="buttonDelete" (click)="deleteFournisseur()">
        Supprimer
      </button>
    </div>
  </div>
  <!-- Le loader s'affiche à la place du contenu de la popup -->
  <div class="loader" *ngIf="isLoading"></div>
</div>

<div class="popupDelete" *ngIf="displayPopupErreurFournisseur">
  <div class="popupDeleteContent" *ngIf="!isLoading">
    <div class="popupDeleteText">
      <h1>{{messagePopup}}</h1>
    </div>
    <div class="popupDeleteButton">
      <button class="buttonCancel" (click)="closeDeleteError()">Annuler</button>
    </div>
  </div>
  <!-- Le loader s'affiche à la place du contenu de la popup -->
  <div class="loader" *ngIf="isLoading"></div>
</div>

<div class="popupDelete" *ngIf="closeOrOpenModify">
  <div class="popupDeleteContent" *ngIf="!isLoading">
    <div class="popupDeleteText">
      <h1>Êtes-vous sûr de vouloir modifier ce fournisseur ?</h1>
    </div>
    <div class="popupDeleteButton">
      <button class="buttonCancel" (click)="closeModify()">Annuler</button>
      <button class="buttonDelete" (click)="updateFournisseur()">
        Modifier
      </button>
    </div>
  </div>
  <!-- Le loader s'affiche à la place du contenu de la popup -->
  <div class="loader" *ngIf="isLoading"></div>
</div>


