<div class="adresseField">
  <div class="formulaire">
    <div class="placement">
      <h1>Entrez vos informations</h1>
    </div>

    <div class="formField" [formGroup]="dataSend">
      <div class="fieldPlacement">
        <input type="text" placeholder="Pays" formControlName="pays" [ngClass]="{ 'border-red': dataSend.get('pays')!.invalid && dataSend.get('pays')!.touched }">
        <input type="text" placeholder="Ville" formControlName="ville" [ngClass]="{ 'border-red': dataSend.get('ville')!.invalid && dataSend.get('ville')!.touched }">
      </div>
      <div class="fieldPlacement">
        <input type="text" placeholder="Code postal" formControlName="codePostal" [ngClass]="{ 'border-red': dataSend.get('codePostal')!.invalid && dataSend.get('codePostal')!.touched }">
        <input type="text" placeholder="Rue" formControlName="rue" [ngClass]="{ 'border-red': dataSend.get('rue')!.invalid && dataSend.get('rue')!.touched }">
      </div>
      <div class="fieldPlacement">
        <input type="text" placeholder="Numéro" formControlName="numero" [ngClass]="{ 'border-red': dataSend.get('numero')!.invalid && dataSend.get('numero')!.touched }">
        <input type="text" placeholder="Valeur" formControlName="valeur" [ngClass]="{ 'border-red': dataSend.get('valeur')!.invalid && dataSend.get('valeur')!.touched }">
      </div>
      <div class="fieldPlacement">
        <input type="file" formControlName="photo" [ngClass]="{ 'border-red': dataSend.get('photo')!.invalid && dataSend.get('photo')!.touched }">
      </div>
    </div>

    <div class="placement">
      <div class="button" (click)="dataSender(true)">
        <p>Valider</p>
      </div>
    </div>
    <div class="croix" (click)="dataSender(false)">
      <img src="./assets/navbarIcone/hide_picture.svg" alt="croix">
    </div>
  </div>
</div>
