<div class="pageContent">
  <div class="pageNamePlacement">
    <app-page-name [pageName]="'Relevé reçu'"></app-page-name>
  </div>
  <div class="informationPagePlacement">
    <app-information-page></app-information-page>
  </div>
  <div class="filterPlacement">
    <div class="optionPlacement">
      <div class="option">
        <app-option-choice [choiceOne]="'Traité'" [choiceTwo]="'Non Traité'"></app-option-choice>
      </div>
      <div class="option">
        <app-option-choice [choiceOne]="'Payé'" [choiceTwo]="'Non payé'"></app-option-choice>
      </div>
    </div>
    <div class="searchBarPlacement">
      <app-search-bar></app-search-bar>
    </div>
  </div>
  <div class="listContainer">
    <div class="legendPlacement">
      <app-indice [indiceArray]="['Nom Client', 'Valeur', 'Date', 'Catégorie']" [legend]="true"></app-indice>
    </div>
    <div class="listPlacement">
      <ng-container>
        <div class="placementIndice">
          <app-indice [indiceArray]="['Nom Client', 'Valeur', 'Date', 'Catégorie']" [legend]="false"></app-indice>
        </div>
        <hr>
      </ng-container>
    </div>
    <div class="movePagePlacement"></div>
  </div>
</div>
