<div class="pageContent">
  <div class="pageNamePlacement">
    <app-page-name [pageName]="'Relevé reçu'"></app-page-name>
  </div>
  <div class="informationPagePlacement">
    <app-information-page></app-information-page>
  </div>
  <div class="filterPlacement">
    <div class="optionPlacement">
      <div class="option"><app-option-paid-unpaid></app-option-paid-unpaid></div>
      <div class="option"></div>
    </div>
    <div class="searchBarPlacement">
      <app-search-bar></app-search-bar>
    </div>
  </div>
</div>

