<div class="factureFrom">
  <div class="formulaire">
    <div class="placement">
      <h1>Entrez le montant de la facture</h1>
    </div>

    <div class="formField" [formGroup]="dataSend">
      <div class="fieldPlacement">
        <input type="text" placeholder="Montant de la facture" formControlName="facturePrice">
      </div>
      <div class="errorMess" *ngIf="formValid">
        Veuillez saisir un chiffre valide.
      </div>
      <div class="placement">
        <div class="button" (click)="dataSender(true)">
          <p>Enregistrer</p>
        </div>
      </div>
      <div class="croix" (click)="closePopUp()">
        <img src="./assets/navbarIcone/hide_picture.svg" alt="croix">
      </div>
    </div>
  </div>
</div>
