<div class="containeur">
    <div class="card">
      <h3 class="text-center">Users List</h3>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th>firstName</th>
              <th>lastName</th>
              <th>Username</th>
              <th>Email</th>
              <th>phoneNumber</th>
              <th>tva</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of fournisseurs">
              <td>{{ user?.id }}</td>
              <td>{{ user?.firstName }}</td>
              <td>{{ user?.lastName }}</td>
              <td>{{ user?.userName }}</td>
              <td>{{ user?.email }}</td>
              <td>{{ user?.phoneNumber }}</td>
              <td>{{ user?.tva }}</td>
              <td><button (click)="deleteFournisseurSpring(user?.id)">Delete</button></td>
              <td><button (click)="updateFournisseurSpring(user?.id)">Update</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
