<div class="pageContentRow">
  <div class="container">
    <div class="slogan">
      <h1 class="slogan-text" >Gérez en toute</h1>
      <h1 class="slogan-text" >simplicité vos</h1>
      <h1 class="slogan-text" >contrats et factures</h1>
      <p class="slogan-btn" >C'est partit !</p>
    </div>
    <div class="component1 b-white border">
      <div class="top white b-black">
        <p class="number">1</p>
      </div>
      <div class="bottom">
        <p>Cet outil simplifie la gestion de vos contrats énergétiques, regroupe tous vos contrats et identifie les fournisseurs les plus avantageux.</p>
      </div>
    </div>
    <div class="component2 border">
      <div class="top black b-white">
        <p class="number">2</p>
      </div>
      <div class="bottom">
        <div class="ligne b-blue"></div>
        <div class="ligne b-white"></div>
        <div class="ligne b-blue"></div>
        <div class="ligne b-white"></div>
      </div>
    </div>


    <div class="component3 b-white border">
      <div class="top-text">
        <div class="top black b-white">
          <p class="number">3</p>
        </div>
        <p class="text-component">Services non-stop</p>
      </div>
    </div>

    <div class="component4 border b-white2">
      <div class="left">
        <img src="../../../assets/dialog-ok.svg" alt="">
      </div>
      <div class="right">
        <div class="topComponent4">
          <p class="topText">Envoyé</p>
          <p>Facture</p>
        </div>
        <div class="bottomComponent4">
          <p class="bottomText">Il y a 35 minutes</p>
        </div>
      </div>
    </div>

    <div class="component5 border b-white2">
      <div class="left">
        <img src="../../../assets/exempleLogoFournisseur.png" alt="">
      </div>
      <div class="right">
        <div class="topComponent6">
          <p class="topText">Rappel</p>
          <p>Facture d'électricité</p>
          <p>250€</p>
        </div>
        <div class="bottomComponent6">
          <p class="bottomText">Aujourd'hui</p>
        </div>
      </div>
    </div>

    <div class="component6 border b-white2">
      <div class="left">
        <img src="../../../assets/photo-rond.png" alt="">
      </div>
      <div class="right">
        <div class="topComponent6">
          <p class="topText">Vous avez payé 1.000€</p>
          <p>Facture de gaz</p>
        </div>
        <div class="bottomComponent6">
          <p class="bottomText">Aujourd'hui</p>
        </div>
      </div>
    </div>

  </div>
</div>
