<div class="addMeter">
  <div class="meterInput">
    <div class="placeHolder"><label>Nom compteur</label></div>
    <input type="text" placeholder="Nom compteur"/>
  </div>

  <div class="meterInput">
    <div class="placeHolder"><label>Catégorie</label></div>
    <select>
      <option value="pomme">Pomme</option>
      <option value="banane">Banane</option>
      <option value="orange">Orange</option>
      <option value="raisin">Raisin</option>
    </select>
  </div>
  <div class="meterInput">
    <div class="placeHolder"><label>Fournisseur</label></div>
    <select>
      <option value="pomme">Pomme</option>
      <option value="banane">Banane</option>
      <option value="orange">Orange</option>
      <option value="raisin">Raisin</option>
    </select>
  </div>


  <div class="sendMeter">
    <img src="./assets/navbarIcone/add.svg" alt="add" />
  </div>
</div>
