<div class="popup" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="content">
    <div class="title">
      <h1>Facture</h1>
    </div>

    <div class="factureInfo" *ngIf="data">
      <p>N° de facture : {{data[0]}} </p>
      <p>Date :{{data[5]}}</p>
      <p>N° de TVA : {{data[4]}}</p>
    </div>

    <div class="boxTitle">
      <h2>Client</h2>
    </div>
    <div class="userInfo">
      <div class="info">{{userInfo?.firstname}} {{userInfo?.lastname}}</div>
      <div class="info">{{userAdresse?.numero}} {{userAdresse?.rue}}, {{userAdresse?.ville}}</div>
      <div class="info">{{userAdresse?.codePostal}} {{userAdresse?.pays}}</div>
      <div class="info">{{userInfo?.email}}</div>
      <div class="info">{{userInfo?.phoneNumber}}</div>

    </div>

    <div class="boxTitle">
      <h2>Fournisseur</h2>
    </div>
    <div class="userInfo">
      <div class="info">{{provideurInfo?.firstname}} {{provideurInfo?.lastname}}</div>
      <div class="info">{{provideurAdresse?.rue}} {{provideurAdresse?.numero}}, {{provideurAdresse?.ville}}</div>
      <div class="info">{{provideurAdresse?.codePostal}} {{provideurAdresse?.pays}}</div>
      <div class="info">{{provideurInfo?.email}}</div>
      <div class="info">{{provideurInfo?.phoneNumber}}</div>
      <div class="info">N° de TVA : {{data?.[4]}}</div>

    </div>

    <div class="liste">
      <div class="list"><p>Quantite</p></div>
      <div class="list"><p>Compteur</p></div>
      <div class="list"><p>Prix</p></div>
    </div>
    <div class="liste" *ngIf="data">
      <div class="list"><p>1</p></div>
      <div class="list"><p>{{data[2]}}</p></div>
      <div class="list"><p>{{data[6]}} €</p></div>
    </div>

    <div class="total" *ngIf="data">
    <div class="totalDetail"><h3>Total</h3></div>
      <div class="totalDetail"><p>{{data[6]}} €</p></div>
    </div>

    <div class="button" *ngIf="data">
      <app-paypal-btn [factureInfo]="data"></app-paypal-btn>
    </div>
    <div class="croix" (click)="buttonPress(false)">

    </div>
  </div>

</div>

